{% extends 'shop/basic.html' %}
{% block title %} My Shop {% endblock %}

{% block css %}
    .carousel-indicators [data-bs-target]{background-color:blue;}
    .card-img-top{height: 240px;width: 70%;margin: 10px auto;}
    .card-group>.card{max-width:280px;}
    .carousel-control-next, .carousel-control-prev{width:87%;top:auto;bottom:auto;right:auto;justify-content:right;}
{% endblock %}
{% block container %}
{% load static %}
<div class="container mt-3">
    {% for products,slides,range in prods %}
    <h2 class="my-2">{{products.0.category}}</h2>
    <div id="carousel_id{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for i in range %}
            <button type="button" data-bs-target="#carousel_id{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}" class="active"
                    aria-current="true" aria-label="Slide {{i}}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            <div class="col-lg-3 col-md-3 col-sm-3 carousel-item active">
                <div class="card-group">
                    {% for product in products%}
                    <div class="card">
                        <img src='/media/{{product.image}}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" id="namepc{{product.id}}">{{product.product_name}}</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                        <div class="d-flex justify-content-around">
                            <span id="divpc{{product.id}}"class="divpc" >
                            <button id="pc{{product.id}}" class="btn btn-primary cart" type="button">Add to Cart</button>
                            </span>
                            <a href="/shop/product/{{product.id}}"><button id="qv{{product.id}}" class="btn btn-primary" type="button">Quick View</button></a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div></div>
                <div class="col-lg-3 col-md-3 col-sm-3 carousel-item">
                    <div class="card-group">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel_id{{forloop.counter}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="background-color:blue;" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel_id{{forloop.counter}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="background-color:blue;" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    {% endfor %}
</div>
{% endblock %}
{% block js %}
    <script>
    if (localStorage.getItem('cart')== null){
        cart={};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML= Object.keys(cart).length;
        update_cart(cart);
    }
    $('.cart').click(function (){
        var id = this.id.toString();
        if (cart[id]!=undefined){
            cart[id]= cart[id]+1;
        }
        else{
            cart[id]=1;
        }
        update_cart(cart);
        
    });

    function update_cart(cart){
        var sum =0;
        for (var item in cart){
            sum = sum + cart[item];
            document.getElementById('div'+item).innerHTML ="<button id='minus"+item+"' class='btn btn-primary minus'>-</button><span id='val"+item+"'>"+cart[item]+"</span><button id='plus"+item+"' class='btn btn-primary plus'>+</button>"
        }
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById('cart').innerHTML= sum;
    }
    // Minus and Plus button click events
    $('.divpc').on("click", "button.minus", function() {
        a = this.id.slice(7, );
        cart['pc' + a] = cart['pc'+a] - 1;
        cart['pc' + a] = Math.max(0, cart['pc' + a]);
        document.getElementById('valpc' + a).innerHTML = cart['pc' + a];
        update_cart(cart);
    });
    $('.divpc').on("click", "button.plus", function() {
        a = this.id.slice(6, );
        cart['pc' + a] = cart['pc' + a] + 1;
        document.getElementById('valpc' + a).innerHTML = cart['pc' + a];
        update_cart(cart);
    });
// Popover fucntions and details

// $('#popcart').popover();
updatePopover(cart);

function updatePopover(cart)
{
    console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart){
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item] + '<br>';
        i = i+1;
    }
    popStr = popStr + "</div>" 
    console.log(popStr);
    document.getElementById('popcart').setAttribute('data-bs-content', popStr);
    $('#popcart').popover('show');
}


</script>
{% endblock %}
